[Unit]
Description=Ruby application
After=network.target

[Service]
EnvironmentFile=/opt/xPaste/env
WorkingDirectory=/opt/xPaste
ExecStartPre=/opt/rh/rh-ruby26/root/usr/bin/bundle exec rake db:migrate
ExecStart=/opt/rh/rh-ruby26/root/usr/bin/bundle exec puma -b unix:/var/run/puma.sock -e production config.ru
Type=idle
KillMode=process

[Install]
WantedBy=multiuser.target
